@import "photon/photon";

#searchBox {
    button {
        position: relative;
        top: 5px;
    }
    margin-bottom: 20px;
}
#sideBar {
    width: 25%;
    min-width: 250px;
}

form .form-actions {
    margin-top: 20px;
}
form .group {
    margin-top: 10px;
    margin-bottom: 10px;
}

button.btn-primary, button.btn-positive, 
button.btn-negative, button.btn-warning {
    .icon {
        color: white;
    }
}
button.btn .icon {
    margin-right: 10px;
}

.form-actions .btn, .list-group-header .btn {
    margin-left: 20px;
}

.btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .40;
    filter: alpha(opacity=40);
    box-shadow: none;
}

#displayContent #contentBox {
    
}