<!DOCTYPE HTML>
<html>
    <head>
        <title>Cambio Web Browser</title>
        <link type="text/css" 
              rel="stylesheet"
              href="dist/main.css"/>
        <link type="text/css"
              rel="stylesheet"
              href="../node_modules/v-modal/dist/v-modal.css">
        <script type="text/javascript"
                src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" 
                src="../node_modules/angular/angular.min.js">
        </script>
        <script type="text/javascript"
                src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript"
                src="../node_modules/v-modal/dist/v-modal.js">
        </script>
        <script type="text/javascript" 
                src="main.js">
        </script>
    </head>
    <body ng-app="CambioApp">
        <div class="window" 
             ng-controller="AppController as AppController">
            <div class="window-content">
                <div class="pane-group">
                    
                    <div class="sidebar" id="sideBar">
                        <ul class="list-group">
                            <li class="list-group-header" 
                                id="searchBox"
                                ng-controller="SearchBarController as SearchBarController">
                                <input type="text" 
                                       class="form-control
                                              pull-left" 
                                       ng-model="SearchBarController.searchTerm"
                                       placeholder="Search Term or Domain name">
                                <button class="btn 
                                               btn-primary
                                               btn-large
                                               pull-right"
                                        ng-click="SearchBarController.goSearch()">
                                    <span class="icon icon-search">
                                    </span>
                                    Search/Go
                                </button>
                                <button class="btn 
                                               btn-default
                                               btn-large
                                               pull-right"
                                        ng-click="AppController.showSettingsModal()">
                                    <span class="icon icon-cog">
                                    </span>
                                    Settings
                                </button>
                            </li>
                            <li class="list-group-item" 
                                ng-repeat="search in AppController.searches">
                                <div class="media-body">
                                    <strong>
                                    {{ search.emailAttribute.date.toString() 
                                        }}
                                    </strong>
                                    <p>{{ search.emailContent }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="pane" 
                         id="displayContent" 
                         ng-controller="DisplayContentController as DisplayContentController">
                        <div id="contentBox" class="padded-more"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>